@media (max-width: 700px) {
  
body  {
    background: #517ea3;
  }

.content {
    padding-left: 0px;
    padding-top: 0px;
    vertical-align: center;
    text-align: center;
    margin: auto;
}
}

body	{
	font-family: sans-serif;
    margin: 0px;
}

.linear-gradient    {
    background: radial-gradient(#326088, #517ea3);
    height: 300px;
}

.content {
    padding-left: 100px;
    padding-top: 100px;
    display: inline-block;
    margin-top: auto;
}

.phones-image   {
    display: inline-block;
    padding-right: 20px;
}

.content-info   {
    max-width: 450px;
    float: right;
    padding-left: 30px;
}

.content-text    {
    background: #fff;
    padding: 30px;
    border-radius: 6px;
}

li {
    display: inline;
    padding: 8px;
    color: #3b6f98;
    font-size: 12px;
    font-weight: bold;
}

li span {
  color: #bbb;
}

h1	{
	color: #002b56;
	font-size: 21px;
    margin: 0px;
}

p 	{
	color: #444;
    font-size: 14px;
}

button {
    background-color: #517ea3; /* needs to be gradient */
    color: white;
    text-align: right;
    text-decoration: none;
    border-radius: 4px;
    outline: #3b6f98 solid thin;
    font-size: 12px;
    height: 38px;
    width: 84px;
    float: right;
    margin-top: 20px;
}


footer {
    text-align: center;
    display: block;
}